[features]
seeds = false
skip-lint = false

[programs.devnet]
chatmate = "H9oXVRXYTJEm4wHrSYnARhrARrBoUwAs1jTCvshXxbrU"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[toolchain]
anchor_version = "0.29.0"